################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/SchoolEmployee/Properties
/SchoolEmployee/obj
/SchoolEmployee/bin
